html body {
	margin:-18px;
	border:0;
	padding:0;
	height: 100%;
	overflow-x:hidden;
}

a{
	text-decoration: none;
}

.clr{
	clear: both;
}
.topnav ul{	
	overflow: hidden;
	border: 2px;
	list-style-type: none;
	background-color: #005AB5;
	

}

.topnav ul li{
	float: left;
	width: 25%;
}

.topnav ul li a{
	display: block;
	padding: 4px;
	text-align: center;
	color: white;
	font-size: 23px
}

.topnav ul li a:hover{
	background-color: #66B2FF;
}


.mainpage{
	margin-top: -17px;
	position: relative;
	display: flex;
	flex-direction: column;
	background-image: url('bg.jpeg');
	background-size: 100%; 
	height: 450px;
}


.mainpage img{
	width: 45%;
	position: absolute;
	top: 100px;
	left:200px;
}

.mainpage p{
	font-size:30px;
	color: white;
	position: absolute;
	top:280px;
	left:200px;
}

h2{
	text-align: center;
	color: #0066CC;
	font-size: 40px;
}

@media (min-width: 768px){
	.container{
		display: flex;
		flex-wrap: wrap;
		justify-content:space-around;
	}

	form{
		width: 40%;
		margin-top: 30px;

		border: 2px #E0E0E0 solid;
		box-shadow: 5px 5px 10px 5px #C0C0C0;
	}
	.contact{
		text-align: center;
		width: 40%;
		line-height: 2em;
	}
}

#firstl{
	margin-top: 20px;
}

form label{
	display:block;
	color: #0066CC;
	padding-top: 10px;
	width: 270px;
	display: inline-block;
	
}
form input{
	font-size: 15px;
	width:250px;
	height:40px;
}

form textarea{
	font-size:15px;
	width:250px;
	height: 120px;
	vertical-align: top;
}

#submit{
	display: block;
	text-align: center;
	width: 100%;
	height: 50px;
	background-color: #0066CC;
	color: white;
	border-radius: 5px;
	font-size: 20px;

}

.contact p{
	margin-left: 120px;
}

#firstp{
	margin-top: 20%;
}

footer{
	margin-top: 10%;
	height: 40px;
	padding-top: 20px;
	padding-left: 10%;
	color:white;
	background-color: #005AB5;
}


@media (max-width:768px){
	form{
		margin-left:auto;
		margin-right:auto;
		width: 60%;
		margin-top: 30px;
		border: 2px #E0E0E0 solid;
		box-shadow: 5px 5px 10px 5px #C0C0C0;
	}
	.contact{
		text-align: center;
		width: 80%;
		line-height: 2em;
	}

}